{% extends "layout.html.twig" %}
{% block title %}{{ parent() }} | About Us{% endblock %}
{% block main %}
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda autem beatae, corporis dicta doloribus, eos, expedita facere facilis pariatur porro rerum similique voluptate! Repellendus.</p>
{% endblock %}