{% extends "layout.html.twig" %}
{% block title %}Bucket List | Home{% endblock %}
{% block main %}
    <h1>Welcome to Bucket-List</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem beatae blanditiis, cupiditate deserunt dolore, ea et exercitationem fugiat impedit ipsa iure nihil numquam omnis quia temporibus vel voluptatum. Ab adipisci architecto, delectus, hic ipsa iste labore laboriosam molestias necessitatibus nisi omnis quis repellendus reprehenderit sapiente sed sequi, vitae voluptate?</p>
{% endblock %}