{% extends "layout.html.twig" %}
{% block title %}{{ parent() }} | Detail (ID {{ id }}){% endblock %}
{% block main %}
    <h1>Detail</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, molestiae voluptate? Dolor in ipsum magni mollitia, nisi nobis non obcaecati placeat sunt, vel velit voluptatibus.</p>
{% endblock %}