{% extends "layout.html.twig" %}
{% block title %}{{ parent() }} | List{% endblock %}
{% block main %}
    <h1>List</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi blanditiis explicabo magnam minima, minus modi omnis reiciendis sed? Animi at fugiat ipsa maxime sapiente?</p>
{% endblock %}